


<div class="row vh-100 " style="background: linear-gradient(to bottom , rgba(0, 0, 0, 1) 0% , rgba(255, 255, 255, 0.1) 100% ),url('bg3.jpg'); background-size: cover ;  background-position: center; ">
    <div class="col text-end text-light my-auto " style="">
        <h1>About Us</h1>
    </div>


    <div class="col text-start text-light my-auto  m-2 p-2 " style="background-color: rgba(0, 0, 0, 0.527)">

        <p>

            Sandeep’s Fitness is not just any gym where you sign up and hardly go, or even if you do manage to drag yourself, you hardly do anything the right way. It is a dream, a religion. It is a product of hard work, dedication and determination, and eternal love for fitness, of two people bound together by the same- the founders Mr. Sandeep Chourasiya and Mrs. Anshuma Upadhyay.
            With its inception on 25th June 2017, we, at Sandeep’s Fitness, integrate all the possible exercises and group exercises techniques i.e. gym, cross-fit, yoga, aerobics, dance, all under one single roof.
            
            Our Facilities include –  
            
                Spacious 6000sqft area
                Certified & experienced trainers
                Best results
                Huge range of equipment
                Number of service provider gym
                1000+ registrations
                Footfall everyday 100+
            
            </p>
    </div>
</div>

