
<style>
    li{
        list-style: none;
    }
</style>

<div class="row m-md-2" style="">



    <div class="col-md-6" style="background-color: red;"; >
        <div class=" mt-5 text-light text-center">
            <h1 style="font-size: 5rem;">ABOUT US</h1>

        </div>
        <div class="mt-auto">
            <img class="mt-auto img-fluid " style="" src="a1.png" alt="">

        </div>
     
    </div>
    <div class="col-md-6 my-auto " >
     <h1>Sandeep's Fitness World</h1>
     <h5 class="text-muted" >
        "Sandeep’s Fitness is not just any gym where you sign up and hardly go, or even if you do manage to drag yourself, you hardly do anything the right way. It is a dream, a religion. It is a product of hard work, dedication and determination, and an eternal love for fitness, of two people bound together by the same- the founders Sandeep Chourasiya and Anshuma Upadhyay. With its inception since 25th June 2017, we, at Sandeep’s Fitness, integrate all the possible exercises and group exercises techniques i.e GYM, CROSSFIT, CARDIO, AEROBICS, all under one single roof. Sandeep’s Fitness is focused on the results you want. We don’t just guide you to your goal, we drag you if you are falling back With certified trainers and nutritional counselling."    
    </h5>
    </div>
</div>

