


<style>
  /* Default link styles */
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* Remove underline */
  }

  /* Link styles on hover */
  a:hover {
    color: #afafaf;
    /* Change this to your desired hover color */
    text-decoration: none;
    /* Remove underline on hover */
  }
  li{
    list-style-type: none;
  }
</style>



<div class="row bg-dark text-light " style="    font-family: 'Lora', serif;">
  
  <div class="col-md-3 mt-3 text-center">
        <img src="gym.png" width="120px" class="mt-2" alt="">
        <h3 class="text-danger">Fitness World</h3>

    
    
</div>
  <div class="col-md-3 mt-3">
      <ul>
          <h3 class="text-danger">Links</h3>
          <li class="my-3">
            <a href="/#" class="">Home</a>
      
          </li>
          <li class="my-3">
            <a href="/#created" class="">Transformation</a>
  
          </li>
          <li class="my-3">
              <a href="/#aboutus">Reviews</a>
    
            </li>
            <li class="my-3">
              <a href="/contactus">Contactus</a>
    
            </li>
            
            <li class="my-3">
              <a href="/blog" class="">AboutUs</a>
    
            </li>
            
        </ul>
  </div>
  <div class="col-md-3 mt-3">
  
    <ul>
      <h3 class="text-danger">Learn</h3>
      <li class="my-3">
        <a href="" class="">Academy</a>
  
      </li>
      <li class="my-3">
        <a href="" class="">Team</a>
  
  
      </li>
  
  
    </ul>
  </div>
  <div class="col-md-3 mt-3">
  
    <ul>
      <h3 class="text-danger">Contact</h3>
      <li class="my-3">
        <a href="tel:+918109204371" class="">+919171441509</a>
  
      </li>
      <li class="my-3">
        <a href="mailto:sandeepfitnessworld@gmail.com" class="">sandeepfitnessworld@gmail.com</a>
  
  
      </li>
  
  
    </ul>
  </div>
</div>
