
<style>
    li{
        list-style: none;
    }
</style>

<div class="row m-md-2" style="">



    <div class="col-md-6" style="background-color: red;"; >
        <div class=" mt-5 text-light text-center">
            <h1 style="font-size: 5rem;">CONTACT US</h1>

        </div>
        <div class="mt-auto">
            <img class="mt-auto img-fluid " style="" src="a1.png" alt="">

        </div>
     
    </div>
    <div class="col-md-6 my-auto " >
        <div class="border">
            
        </div>
    </div>
</div>

