
<style>
    li{
        list-style: none;
    }
</style>

<div class="row m-md-2 " style="" id="contactus">



    <div class="col-md-6 mt-5" style="background-color: red;"; >
        <div class=" mt-5 text-light text-center">
            <h1 style="font-size: 5rem;">CONTACT US</h1>

        </div>
        <div class="mt-auto">
            <img class="mt-auto img-fluid " style="" src="a1.png" alt="">

        </div>
     
    </div>
    <div class="col-md-6 my-auto " >
        <form action="/contactus"  class=" text-white p-3 rounded-4 forum" method="post">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="mb-1">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-1">
                  <label for="name" class="form-label">Number</label>
                  <input type="tel" class="form-control" id="number" name="number" placeholder="Your Number" required>
                </div>
              </div>
              
            </div>
      
          
      
            <div class="row justify-content-center">
              <div class="col">
                <div class="mb-1">
                  <label for="subject" class="form-label">Subject</label>
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject of Your Message" required>
                </div>
              </div>
            </div>
      
            <div class="row justify-content-center">
              <div class="col">
                <div class="mb-1">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control" id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
                </div>
              </div>
            </div>
      
            <div class="row justify-content-start text-start p-2">
                <div class="mb-1">
                    <button type="submit" class="btn btn-danger btn-lg  rounded-pill">Submit</button>

                </div>
            </div>
      
      
          </form>
    </div>
</div>

