<!-- <style>
  /* Sticky Footer styles */
 
</style>



<footer class="footer text-center h-100 ">
  <div class="container">
    <div class="row">


      <div class="col">
      
        <div class="d-flex mb-3 text-center">
          <a href="https://www.facebook.com/profile.php?id=100084222438048" class="social-icon btn  "><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/OfficialKamingo" class="social-icon btn  "><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/officialkamingo/" class="social-icon btn  "><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/kamingoconsultancy" class="social-icon btn  "><i class="fab fa-linkedin"></i></a>
  
        </div>

      </div>

      <div class="col ">

        <p class="me-auto mb-0">
          <span class="icon"><i class="fas fa-phone"></i></span>
          <a href="tel:+1234567890" class="text-dark">+918109204371</a>
        </p>
        <p class="  me-auto mb-0">
          <span class="icon"><i class="fas fa-envelope"></i></span>
          <a href="mailto:your.email@gmail.com" class="text-dark">kamingoconsultancy@gmail.com</a>
        </p>
       
        
      </div>
    </div>
  </div>

</footer> -->

<style>

    .icon {
      margin-right: 10px;
    }
  
  
    footer a {
      color: #fff;
      text-decoration: none;
    }
  
  
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    .footer {
      margin-top: auto;
      background-color: rgb(0, 0, 0);
      color: black;
      padding: 20px 0;
      
    }
  
    .social-icon {
      font-size: 30px;
      margin-right: 30px;
      
    }
  
    .social-icon:hover {
      font-size: 30px;
      margin-right: 30px;
      color: darkgray;
      
    }
  </style>
  
  <footer class=" "  style="font-family: 'Plus Jakarta Sans', sans-serif; background-color:black ">
    <div class="container">
      <div class="row text-center" style="margin: 3rem auto;">
        <div class="col-sm-6 ">
          <a href="https://www.facebook.com/profile.php?id=100084222438048" class="social-icon  my-2 "><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/OfficialKamingo" class="social-icon  my-2  "><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/officialkamingo/" class="social-icon  my-2 "><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/kamingoconsultancy" class="social-icon   my-2"><i class="fab fa-linkedin"></i></a>
    
        </div>
    
        <div class="col mt-3 text-white">
          ©2023 - Kamingo Consultancy Services.
          <!-- <p class="me-auto mb-0">
            <span class="icon text-white"><i class="fas fa-phone"></i></span>
            <a href="tel:+918109204371" class="">+918109204371</a>
          </p>
          <p class="  me-auto mb-0">
            <span class="icon text-white"><i class="fas fa-envelope"></i></span>
            <a href="mailto:kamingoconsultancy@gmail.com" class="">kamingoconsultancy@gmail.com</a>
          </p> -->
        
        </div>
      </div>
    
    </div>
  
  </footer>