<style>
  li {
    list-style: none;
  }
</style>

<div class="row  m-md-2  " style="">

  <h1 class="mb-2 text-center  " style="font-size: 3rem;" >Gallery</h1>


  <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" data-bs-interval="5000">
      <% for (let i = 0; i < images.length; i += 2) { %>
        <% if (images[i].name === 'gallery' && images[i + 1] && images[i + 1].name === 'gallery') { %>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>  " >
            <div class="row">
              <div class="col-md-6">
                <img class="d-block w-100" src="data:image/webp;base64,<%= images[i].image.toString('base64') %>" alt="First slide">
              </div>
              <div class="col-md-6">
                <img class="d-block w-100" src="data:image/webp;base64,<%= images[i + 1].image.toString('base64') %>" alt="Second slide">
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  

</div>
