<style>
  li {
    list-style: none;
  }
</style>

  <div class="row m-md-2 " style="">





    <div class="col-md-6 d-flex" style="background: rgb(0, 0, 0) no-repeat; background-size: cover ; height: 50vh;">
      <div class="m-auto" style="">

        <h1 class="fw-bold text-light" style="font-size: 4rem; position: relative; z-index: 1;">Gallery</h1>
      </div>

    </div>
    <div class="col-md-6 " style="background: url('bg.jpg') no-repeat; background-size: cover ; height: 50vh;">
    </div>
    <div class="col-md-6 " style="background: url('bg2.jpg') no-repeat; background-size: cover ; height: 50vh;">
    </div>
    <div class="col-md-6 " style="background: url('bg3.jpg') no-repeat; background-size: cover ; height: 50vh;">
    </div>
  </div>
