<style>
  li {
    list-style: none;
  }
</style>

  <div class="row m-md-2 " style="">





    <div class="col-md-6 d-flex" style="background: rgb(0, 0, 0) no-repeat; background-size: cover ; height: 50vh;">
      <div class="m-auto" style="">

        <h1 class="fw-bold text-light" style="font-size: 4rem; position: relative; z-index: 1;">Gallery</h1>
      </div>

    </div>
    <% images.forEach(element => { %>


      <% if (element.name==="gallery") { %>
        <div class="col-md-6 " style=" height: 50vh;">
          <img style="object-fit: scale-down; width: 100%; max-width: 300px;" src="data:image/webpg;base64,<%= element.image.toString('base64') %>" alt="Image">
  
        </div>
  
      <% } %>


    <% }) %>

   
  </div>
