
<div class="row p-3  m-2" style="background-image: url('bg.jpg'); background-position: center; background-size: cover ; height: 70vh; "  >
    <div class="col">
        <h1 class="m-auto" style="font-size: 4rem; color: rgb(255, 255, 255);" >REVIEWS</h1>

    </div>
    <div class="col m-auto ">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" data-bs-interval="6000">
          
              <div class="carousel-item active">
                <div class="row justify-content-center">
                  <div class="col text-center border text-light rounded-2 p-2 " style="background-color: black; max-width: 500px;">
                    <div class="m-2">
                        <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">
            
                    </div>
                    <h4>Vikalp Maithi</h4>
                    
                    <div class="d-flex text-center justify-content-center">
                        
                        <h5><i class="fa-solid fa-quote-left text-danger me-2"></i> A great place to start your day. 2 floor gym, with ample space and every possible workout equipment available. Not more than 10 people allowed at a floor at same time. Ample parking space beside gym, along with lush green backyard makes this place perfect for newbies like me.<i class="fa-solid fa-quote-left text-danger ms-2"></i></h5>
                         
                       
                    </div>
                    <h4>⭐⭐⭐⭐⭐</h4>
                  </div>
          
    
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col text-center border text-light rounded-2 p-2 " style="background-color: black; max-width: 500px;">
                        <div class="m-2">
                            <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">
                
                        </div>
                        <h4>Suresh</h4>
                        
                        <div class="d-flex text-center justify-content-center">
                            
                            <h5><i class="fa-solid fa-quote-left text-danger me-2"></i> A great place to start your day. 2 floor gym, with ample space and every possible workout equipment available. Not more than 10 people allowed at a floor at same time. Ample parking space beside gym, along with lush green backyard makes this place perfect for newbies like me.<i class="fa-solid fa-quote-left text-danger ms-2"></i></h5>
                             
                           
                        </div>
                        <h4>⭐⭐⭐⭐⭐</h4>
                      </div>
          
                  <!-- Add more carousel items as needed -->
                </div>
              </div>
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <div class="col text-center border text-light rounded-2 p-2 mx-1" style="background-color: black;">
                    <div class="m-2">
                        <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">
            
                    </div>
                    <h4>Vikalp Maithi</h4>
                    
                    <div class="d-flex text-center justify-content-center">
                        
                        <h5><i class="fa-solid fa-quote-left text-danger me-2"></i> A great place to start your day. 2 floor gym, with ample space and every possible workout equipment available. Not more than 10 people allowed at a floor at same time. Ample parking space beside gym, along with lush green backyard makes this place perfect for newbies like me.<i class="fa-solid fa-quote-left text-danger ms-2"></i></h5>
                         
                       
                    </div>
                    <h4>⭐⭐⭐⭐⭐</h4>
                  </div>
          
                  <!-- Add more carousel items as needed -->
                </div>
              </div>
          
            </div>
          
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
          
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </div>





</div>