<div class="row p-3">
    <div class="col text-end">
       
    </div>
    <div class="col text-center border text-light rounded-2 p-2 " style="background-color: black;">

        <div class="m-2">
            <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">

        </div>
        <h4>Rajvendra</h4>
        
        <div class="d-flex text-center justify-content-center">
            <i class="fa-solid fa-quote-left text-danger me-2"></i>
            <h3>goood things here $$$</h3>
            <i class="fa-solid fa-quote-left text-danger ms-2"></i>

        </div>
    </div>
    <div class="col text-start">
    </div>
</div>