<style>
    .bg {
        position: relative;
        overflow: hidden;
      }
      
      .bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #FF0000, #aa1d04);
        z-index: -1;
        animation: animateGradient 5s ease infinite;
        background-size: 400% 400%; /* Adjust the background size as needed */
      }
      
      @keyframes animateGradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
    
</style>
<div class="row m-2">
    <div class="bg col text-center text-light d-flex">
        <h1 class="m-auto" style="font-size: 4rem;">REVIEWS</h1>
    </div>
    
</div>
<div class="row p-3">
    
    <div class="col text-center border text-light rounded-2 p-2 mx-1 " style="background-color: black;">

        <div class="m-2">
            <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">

        </div>
        <h4>Vikalp Maithi</h4>
        
        <div class="d-flex text-center justify-content-center">
            
            <h5><i class="fa-solid fa-quote-left text-danger me-2"></i> A great place to start your day. 2 floor gym, with ample space and every possible workout equipment available. Not more than 10 people allowed at a floor at same time. Ample parking space beside gym, along with lush green backyard makes this place perfect for newbies like me.<i class="fa-solid fa-quote-left text-danger ms-2"></i></h5>
             
           
        </div>
        <h4>⭐⭐⭐⭐⭐</h4>
    </div>
    <div class="col text-center border text-light rounded-2 p-2 " style="background-color: black;">

        <div class="m-2">
            <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">

        </div>
        <h4>Vikalp Maithi</h4>
        
        <div class="d-flex text-center justify-content-center">
            
            <h5><i class="fa-solid fa-quote-left text-danger me-2"></i> A great place to start your day. 2 floor gym, with ample space and every possible workout equipment available. Not more than 10 people allowed at a floor at same time. Ample parking space beside gym, along with lush green backyard makes this place perfect for newbies like me.<i class="fa-solid fa-quote-left text-danger ms-2"></i></h5>
             
           
        </div>
        <h4>⭐⭐⭐⭐⭐</h4>
    </div>
    <div class="col text-center border text-light rounded-2 p-2 " style="background-color: black;">

        <div class="m-2">
            <img src="https://lh3.googleusercontent.com/a-/ALV-UjVpHlZcQdpiWnd6DMITFdgb-lKIRVPc7y1E9UuoYzLvUBA=w60-h60-p-rp-mo-ba4-br100" alt="" srcset="">

        </div>
        <h4>Vikalp Maithi</h4>
        
        <div class="d-flex text-center justify-content-center">
            
            <h5><i class="fa-solid fa-quote-left text-danger me-2"></i> A great place to start your day. 2 floor gym, with ample space and every possible workout equipment available. Not more than 10 people allowed at a floor at same time. Ample parking space beside gym, along with lush green backyard makes this place perfect for newbies like me.<i class="fa-solid fa-quote-left text-danger ms-2"></i></h5>
             
           
        </div>
        <h4>⭐⭐⭐⭐⭐</h4>
    </div>
</div>