<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Upload Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container mt-5">
  <form action="/image" method="post" enctype="multipart/form-data">

      <input type="file" class=""  id="images"  name="images" multiple >


    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>

<!-- Bootstrap JS and Popper.js -->

</body>
</html>
