<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<style>
    
</style>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid">
        <div class="row vh-100" style="background-image: url('bg.jpg'); background-size: cover">
            <div class="col my-auto mx-0 mx-md-5 text-center text-md-start ">
                <h1 style="font-size: 4rem; color: mintcream;">Welcome To</h1>
                <div class=" d-md-flex text-center text-md-start m-2  ">
                    <h2 class="text-danger me-2" style="font-size: 3rem"; >Sandeep's</h2>
                    <h2 class="text-white" style="font-size: 3rem;" >Fitness</h2>
                </div>
                <div class="m-2 text-center text-md-start">
                    <a href="" class="btn btn-danger rounded-pill btn-lg">Register Now</a>
                </div>
                <div class="d-flex flex-column flex-sm-column flex-md-row">
                    <a href="" class="btn btn-danger rounded-pill m-2 btn-lg"><i class="fa-solid fa-location-dot"></i> Ayodhya Nagar</a>
                    <a href="" class="btn btn-danger rounded-pill m-2 btn-lg"><i class="fa-solid fa-location-dot"></i> Raisen</a>
                    <a href="" class="btn btn-danger rounded-pill m-2 btn-lg"><i class="fa-solid fa-location-dot"></i> Mandideep</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
