<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

    </div>
    <h1>Sandeep</h1>
</body>
</html>