<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<style>
    a{
        color: white;
    }
        .heading {
      font-size: 3rem; /* Adjust font size for smaller screens */
    }
    .heading2 {
      font-size: 5rem; /* Adjust font size for smaller screens */
    }

    .social-icon{
        color: rgb(223, 45, 45);
    }
 @media screen and (max-width: 768px) {
    .heading {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .heading2 {
      font-size: 2.2rem; /* Adjust font size for smaller screens */
    }

    .social-icon{
        color: rgb(255, 255, 255);
    }
  }

</style>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid">
        <div class="row vh-100 " style="background: linear-gradient(to top , rgba(0, 0, 0, 1) 0% , rgba(255, 255, 255, 0.1) 0% ),url('bg69.jpg'); background-size: cover ;  background-position: center; ">
            <div class="col my-auto mx-0 mx-md-5  ">
                <h2  class="heading m-2" style=" color: rgb(0, 0, 0);">Welcome To</h2>


                <div class=" d-flex   m-2  ">
                    <h1 class="text-danger heading2 me-2" ; >SANDEEP'S</h1>
                    <h1 class="text-dark heading2"  >Fitness</h1>
                </div>

                <h2 class="text-dark ms-2" style="font-family: 'Dancing Script', cursive;" >Success.... Nothing Less</h2>

                <div class="m-2 " style="border-bottom: 3px rgb(255, 0, 0) solid; max-width: 200px;" >
                    <!-- <a href="" class="btn btn-danger rounded-pill btn-lg">Register Now</a> -->
                    <h1>Branches</h1>
                </div>
      
                <div class="d-flex flex-column  flex-md-row text-start">
                    <div class="m-2">
                        <a href="" class="btn btn-primary rounded-pill  "><i class="fa-solid fa-location-dot"></i> Ayodhya Nagar</a>

                    </div>
                    <div class="m-2">
                        <a href="" class="btn btn-primary rounded-pill "><i class="fa-solid fa-location-dot"></i> Raisen</a>

                    </div>
                    <div class="m-2">
                        <a href="" class="btn btn-primary rounded-pill  "><i class="fa-solid fa-location-dot"></i> Mandideep</a>

                    </div>

                </div>

                <div class=" m-4 ">
                    <a href="https://www.facebook.com/profile.php?id=100084222438048" class="social-icon   my-2 "><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/OfficialKamingo" class="social-icon  my-2    "><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/officialkamingo/" class="social-icon  my-2   "><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/kamingoconsultancy" class="social-icon my-2  "><i class="fab fa-linkedin"></i></a>
              
                  </div>
            </div>


            
        </div>
 <%- include('./partials/aboutus.ejs') %>
    </div>
 <%- include('./partials/footer.ejs') %>
</body>
</html>
