<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>

    </div>
    <div class="container">
       <div class="row vh-100" style="background-image: url('bg.jpg'); background-size:cover">
       
       </div>
    </div>
</body>
</html>