<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<style>
    
</style>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid">
        <div class="row vh-100" style="background-image: url('bg.jpg'); background-size: cover">
            <div class="col  my-auto">
                <h1 style="font-size: 5rem; color: mintcream; ">Welcome To </h1>
                <div class="d-flex">
                    <h2 class="text-danger me-2" style="font-size: 3rem;" >Sandeep's</h2>
                    <h2 class="text-white" style="font-size: 3rem;"> Fitness</h2>

                </div>
                <div class="mb-2">
                    <a href="" class="btn btn-danger rounded-pill">Register Now</a>
                </div>
                <div class="mb-2">
                    <a href="" class="btn btn-danger rounded-pill"><i class="fa-solid fa-location-dot"></i> Location </a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
