<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<style>
    a{
        color: white;
    }
        .heading {
      font-size: 5rem; /* Adjust font size for smaller screens */
    }
    .heading2 {
      font-size: 3rem; /* Adjust font size for smaller screens */
    }

 @media screen and (max-width: 768px) {
    .heading {
      font-size: 3rem; /* Adjust font size for smaller screens */
    }
    .heading2 {
      font-size: 2.2rem; /* Adjust font size for smaller screens */
    }

  }

</style>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid">
        <div class="row vh-100 " style="background-image: url('bg.jpg'); background-size: cover ;  background-position: center;">
            <div class="col my-auto mx-0 mx-md-5  ">
                <h1  class="heading m-2" style=" color: mintcream;">Welcome To</h1>


                <div class=" d-flex   m-2  ">
                    <h2 class="text-danger heading2 me-2" ; >SANDEEP'S</h2>
                    <h2 class="text-white heading2"  >Fitness</h2>
                </div>
                <div class=" d-md-flex  m-2  " style="max-width: 45rem;">
                    <p class="text-muted">Experience fitness redefined: Our gym website offers a dynamic gateway to transformative workouts and a community-driven space for your wellness journey.</p>

                </div>
                <div class="m-2 ">
                    <a href="" class="btn btn-danger rounded-pill btn-lg">Register Now</a>
                </div>
                <div class="d-flex flex-column  flex-md-row text-start">
                    <div class="m-2">
                        <a href="" class="btn btn-primary rounded-pill  "><i class="fa-solid fa-location-dot"></i> Ayodhya Nagar</a>

                    </div>
                    <div class="m-2">
                        <a href="" class="btn btn-primary rounded-pill "><i class="fa-solid fa-location-dot"></i> Raisen</a>

                    </div>
                    <div class="m-2">
                        <a href="" class="btn btn-primary rounded-pill  "><i class="fa-solid fa-location-dot"></i> Mandideep</a>

                    </div>

                </div>

                <div class=" m-4 ">
                    <a href="https://www.facebook.com/profile.php?id=100084222438048" class="social-icon  my-2 "><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/OfficialKamingo" class="social-icon  my-2  "><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/officialkamingo/" class="social-icon  my-2 "><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/kamingoconsultancy" class="social-icon   my-2"><i class="fab fa-linkedin"></i></a>
              
                  </div>
            </div>


            
        </div>
    </div>
 <%- include('./partials/footer.ejs') %>
</body>
</html>
